<html lang="fr"><head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Bootstrap core CSS -->
    <link href="assets/css/bootstrap.min.css" rel="stylesheet">

</head>

<body>

<!-- Page Content -->
<div class="container">
    <div class="results"><div class="row mx-auto mt-5 d-print-table">
            <div class="col-sm-12">
                <h3>Résultats</h3>
                <p>
                    Vous avez la possibilité de retirer les lignes qui ne vous intéressent pas en sélectionnant les cases à
                    cocher et cliquant sur le bouton "retirer"
                </p>
                <p>
                    <button class="btn btn-info remove-cities">Retirer les lignes sélectionnées</button>
                    <span class="text-right">
                    <button class="btn btn-primary export-cities">Exporter le tableau en PDF</button>
                </span>
                </p>
                <table class="table table-hover text-center table-dark">
                    <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Revenu fiscal de référence</th>
                        <th scope="col">Nombre d'occupants du bien</th>
                        <th scope="col">Montant des opération</th>
                        <th scope="col">Ville</th>
                        <th scope="col">Département</th>
                        <th scope="col">Zone</th>
                        <th scope="col">Montant</th>
                        <th scope="col">Montant du prêt</th>
                        <th scope="col">Montant maxi.</th>
                        <th scope="col">Montant du prêt</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr class="pointer">
                        <td>
                            <input id="" type="checkbox">
                        </td>
                        <td scope="row">20 900,00&nbsp;€</td>
                        <td>1</td>
                        <td>150 000,00&nbsp;€</td>
                        <td>Amnéville</td>
                        <td>57</td>
                        <td>B2</td>
                        <td>150 000,00&nbsp;€</td>
                        <td>22 000,00&nbsp;€</td>
                        <td colspan="2">Vous n'avez pas choisi l'option interval</td>
                    </tr>
                    <tr class="pointer">
                        <td>
                            <input id="" type="checkbox">
                        </td>
                        <td scope="row">20 900,00&nbsp;€</td>
                        <td>1</td>
                        <td>150 000,00&nbsp;€</td>
                        <td>Antilly</td>
                        <td>57</td>
                        <td>C</td>
                        <td>150 000,00&nbsp;€</td>
                        <td>20 000,00&nbsp;€</td>
                        <td colspan="2">Vous n'avez pas choisi l'option interval</td>
                    </tr>
                    <tr class="pointer">
                        <td>
                            <input id="" type="checkbox">
                        </td>
                        <td scope="row">20 900,00&nbsp;€</td>
                        <td>1</td>
                        <td>150 000,00&nbsp;€</td>
                        <td>Argancy</td>
                        <td>57</td>
                        <td>C</td>
                        <td>150 000,00&nbsp;€</td>
                        <td>20 000,00&nbsp;€</td>
                        <td colspan="2">Vous n'avez pas choisi l'option interval</td>
                    </tr>
                    <tr class="pointer">
                        <td>
                            <input id="" type="checkbox">
                        </td>
                        <td scope="row">20 900,00&nbsp;€</td>
                        <td>1</td>
                        <td>150 000,00&nbsp;€</td>
                        <td>Ay-sur-Moselle</td>
                        <td>57</td>
                        <td>B2</td>
                        <td>150 000,00&nbsp;€</td>
                        <td>22 000,00&nbsp;€</td>
                        <td colspan="2">Vous n'avez pas choisi l'option interval</td>
                    </tr>
                    <tr class="pointer">
                        <td>
                            <input id="" type="checkbox">
                        </td>
                        <td scope="row">20 900,00&nbsp;€</td>
                        <td>1</td>
                        <td>150 000,00&nbsp;€</td>
                        <td>Bertrange</td>
                        <td>57</td>
                        <td>B2</td>
                        <td>150 000,00&nbsp;€</td>
                        <td>22 000,00&nbsp;€</td>
                        <td colspan="2">Vous n'avez pas choisi l'option interval</td>
                    </tr>
                    <tr class="pointer">
                        <td>
                            <input id="" type="checkbox">
                        </td>
                        <td scope="row">20 900,00&nbsp;€</td>
                        <td>1</td>
                        <td>150 000,00&nbsp;€</td>
                        <td>Bousse</td>
                        <td>57</td>
                        <td>B2</td>
                        <td>150 000,00&nbsp;€</td>
                        <td>22 000,00&nbsp;€</td>
                        <td colspan="2">Vous n'avez pas choisi l'option interval</td>
                    </tr>
                    <tr class="pointer">
                        <td>
                            <input id="" type="checkbox">
                        </td>
                        <td scope="row">20 900,00&nbsp;€</td>
                        <td>1</td>
                        <td>150 000,00&nbsp;€</td>
                        <td>Bronvaux</td>
                        <td>57</td>
                        <td>B2</td>
                        <td>150 000,00&nbsp;€</td>
                        <td>22 000,00&nbsp;€</td>
                        <td colspan="2">Vous n'avez pas choisi l'option interval</td>
                    </tr>
                    <tr class="pointer">
                        <td>
                            <input id="" type="checkbox">
                        </td>
                        <td scope="row">20 900,00&nbsp;€</td>
                        <td>1</td>
                        <td>150 000,00&nbsp;€</td>
                        <td>Chailly-lès-Ennery</td>
                        <td>57</td>
                        <td>C</td>
                        <td>150 000,00&nbsp;€</td>
                        <td>20 000,00&nbsp;€</td>
                        <td colspan="2">Vous n'avez pas choisi l'option interval</td>
                    </tr>
                    <tr class="pointer">
                        <td>
                            <input id="" type="checkbox">
                        </td>
                        <td scope="row">20 900,00&nbsp;€</td>
                        <td>1</td>
                        <td>150 000,00&nbsp;€</td>
                        <td>Charly-Oradour</td>
                        <td>57</td>
                        <td>C</td>
                        <td>150 000,00&nbsp;€</td>
                        <td>20 000,00&nbsp;€</td>
                        <td colspan="2">Vous n'avez pas choisi l'option interval</td>
                    </tr>
                    <tr class="pointer">
                        <td>
                            <input id="" type="checkbox">
                        </td>
                        <td scope="row">20 900,00&nbsp;€</td>
                        <td>1</td>
                        <td>150 000,00&nbsp;€</td>
                        <td>Chieulles</td>
                        <td>57</td>
                        <td>B2</td>
                        <td>150 000,00&nbsp;€</td>
                        <td>22 000,00&nbsp;€</td>
                        <td colspan="2">Vous n'avez pas choisi l'option interval</td>
                    </tr>
                    <tr class="pointer">
                        <td>
                            <input id="" type="checkbox">
                        </td>
                        <td scope="row">20 900,00&nbsp;€</td>
                        <td>1</td>
                        <td>150 000,00&nbsp;€</td>
                        <td>Clouange</td>
                        <td>57</td>
                        <td>B2</td>
                        <td>150 000,00&nbsp;€</td>
                        <td>22 000,00&nbsp;€</td>
                        <td colspan="2">Vous n'avez pas choisi l'option interval</td>
                    </tr>
                    <tr class="pointer">
                        <td>
                            <input id="" type="checkbox">
                        </td>
                        <td scope="row">20 900,00&nbsp;€</td>
                        <td>1</td>
                        <td>150 000,00&nbsp;€</td>
                        <td>Ennery</td>
                        <td>57</td>
                        <td>B2</td>
                        <td>150 000,00&nbsp;€</td>
                        <td>22 000,00&nbsp;€</td>
                        <td colspan="2">Vous n'avez pas choisi l'option interval</td>
                    </tr>
                    <tr class="pointer">
                        <td>
                            <input id="" type="checkbox">
                        </td>
                        <td scope="row">20 900,00&nbsp;€</td>
                        <td>1</td>
                        <td>150 000,00&nbsp;€</td>
                        <td>Fameck</td>
                        <td>57</td>
                        <td>B2</td>
                        <td>150 000,00&nbsp;€</td>
                        <td>22 000,00&nbsp;€</td>
                        <td colspan="2">Vous n'avez pas choisi l'option interval</td>
                    </tr>
                    <tr class="pointer">
                        <td>
                            <input id="" type="checkbox">
                        </td>
                        <td scope="row">20 900,00&nbsp;€</td>
                        <td>1</td>
                        <td>150 000,00&nbsp;€</td>
                        <td>Flévy</td>
                        <td>57</td>
                        <td>C</td>
                        <td>150 000,00&nbsp;€</td>
                        <td>20 000,00&nbsp;€</td>
                        <td colspan="2">Vous n'avez pas choisi l'option interval</td>
                    </tr>
                    <tr class="pointer">
                        <td>
                            <input id="" type="checkbox">
                        </td>
                        <td scope="row">20 900,00&nbsp;€</td>
                        <td>1</td>
                        <td>150 000,00&nbsp;€</td>
                        <td>Fèves</td>
                        <td>57</td>
                        <td>B2</td>
                        <td>150 000,00&nbsp;€</td>
                        <td>22 000,00&nbsp;€</td>
                        <td colspan="2">Vous n'avez pas choisi l'option interval</td>
                    </tr>
                    <tr class="pointer">
                        <td>
                            <input id="" type="checkbox">
                        </td>
                        <td scope="row">20 900,00&nbsp;€</td>
                        <td>1</td>
                        <td>150 000,00&nbsp;€</td>
                        <td>Gandrange</td>
                        <td>57</td>
                        <td>B2</td>
                        <td>150 000,00&nbsp;€</td>
                        <td>22 000,00&nbsp;€</td>
                        <td colspan="2">Vous n'avez pas choisi l'option interval</td>
                    </tr>
                    <tr class="pointer">
                        <td>
                            <input id="" type="checkbox">
                        </td>
                        <td scope="row">20 900,00&nbsp;€</td>
                        <td>1</td>
                        <td>150 000,00&nbsp;€</td>
                        <td>Guénange</td>
                        <td>57</td>
                        <td>B2</td>
                        <td>150 000,00&nbsp;€</td>
                        <td>22 000,00&nbsp;€</td>
                        <td colspan="2">Vous n'avez pas choisi l'option interval</td>
                    </tr>
                    <tr class="pointer">
                        <td>
                            <input id="" type="checkbox">
                        </td>
                        <td scope="row">20 900,00&nbsp;€</td>
                        <td>1</td>
                        <td>150 000,00&nbsp;€</td>
                        <td>Hagondange</td>
                        <td>57</td>
                        <td>B2</td>
                        <td>150 000,00&nbsp;€</td>
                        <td>22 000,00&nbsp;€</td>
                        <td colspan="2">Vous n'avez pas choisi l'option interval</td>
                    </tr>
                    <tr class="pointer">
                        <td>
                            <input id="" type="checkbox">
                        </td>
                        <td scope="row">20 900,00&nbsp;€</td>
                        <td>1</td>
                        <td>150 000,00&nbsp;€</td>
                        <td>Hauconcourt</td>
                        <td>57</td>
                        <td>B2</td>
                        <td>150 000,00&nbsp;€</td>
                        <td>22 000,00&nbsp;€</td>
                        <td colspan="2">Vous n'avez pas choisi l'option interval</td>
                    </tr>
                    <tr class="pointer">
                        <td>
                            <input id="" type="checkbox">
                        </td>
                        <td scope="row">20 900,00&nbsp;€</td>
                        <td>1</td>
                        <td>150 000,00&nbsp;€</td>
                        <td>La Maxe</td>
                        <td>57</td>
                        <td>B2</td>
                        <td>150 000,00&nbsp;€</td>
                        <td>22 000,00&nbsp;€</td>
                        <td colspan="2">Vous n'avez pas choisi l'option interval</td>
                    </tr>
                    <tr class="pointer">
                        <td>
                            <input id="" type="checkbox">
                        </td>
                        <td scope="row">20 900,00&nbsp;€</td>
                        <td>1</td>
                        <td>150 000,00&nbsp;€</td>
                        <td>Maizières-lès-Metz</td>
                        <td>57</td>
                        <td>B2</td>
                        <td>150 000,00&nbsp;€</td>
                        <td>22 000,00&nbsp;€</td>
                        <td colspan="2">Vous n'avez pas choisi l'option interval</td>
                    </tr>
                    <tr class="pointer">
                        <td>
                            <input id="" type="checkbox">
                        </td>
                        <td scope="row">20 900,00&nbsp;€</td>
                        <td>1</td>
                        <td>150 000,00&nbsp;€</td>
                        <td>Malroy</td>
                        <td>57</td>
                        <td>C</td>
                        <td>150 000,00&nbsp;€</td>
                        <td>20 000,00&nbsp;€</td>
                        <td colspan="2">Vous n'avez pas choisi l'option interval</td>
                    </tr>
                    <tr class="pointer">
                        <td>
                            <input id="" type="checkbox">
                        </td>
                        <td scope="row">20 900,00&nbsp;€</td>
                        <td>1</td>
                        <td>150 000,00&nbsp;€</td>
                        <td>Marange-Silvange</td>
                        <td>57</td>
                        <td>B2</td>
                        <td>150 000,00&nbsp;€</td>
                        <td>22 000,00&nbsp;€</td>
                        <td colspan="2">Vous n'avez pas choisi l'option interval</td>
                    </tr>
                    <tr class="pointer">
                        <td>
                            <input id="" type="checkbox">
                        </td>
                        <td scope="row">20 900,00&nbsp;€</td>
                        <td>1</td>
                        <td>150 000,00&nbsp;€</td>
                        <td>Mondelange</td>
                        <td>57</td>
                        <td>B2</td>
                        <td>150 000,00&nbsp;€</td>
                        <td>22 000,00&nbsp;€</td>
                        <td colspan="2">Vous n'avez pas choisi l'option interval</td>
                    </tr>
                    <tr class="pointer">
                        <td>
                            <input id="" type="checkbox">
                        </td>
                        <td scope="row">20 900,00&nbsp;€</td>
                        <td>1</td>
                        <td>150 000,00&nbsp;€</td>
                        <td>Norroy-le-Veneur</td>
                        <td>57</td>
                        <td>B2</td>
                        <td>150 000,00&nbsp;€</td>
                        <td>22 000,00&nbsp;€</td>
                        <td colspan="2">Vous n'avez pas choisi l'option interval</td>
                    </tr>
                    <tr class="pointer">
                        <td>
                            <input id="" type="checkbox">
                        </td>
                        <td scope="row">20 900,00&nbsp;€</td>
                        <td>1</td>
                        <td>150 000,00&nbsp;€</td>
                        <td>Pierrevillers</td>
                        <td>57</td>
                        <td>B2</td>
                        <td>150 000,00&nbsp;€</td>
                        <td>22 000,00&nbsp;€</td>
                        <td colspan="2">Vous n'avez pas choisi l'option interval</td>
                    </tr>
                    <tr class="pointer">
                        <td>
                            <input id="" type="checkbox">
                        </td>
                        <td scope="row">20 900,00&nbsp;€</td>
                        <td>1</td>
                        <td>150 000,00&nbsp;€</td>
                        <td>Plesnois</td>
                        <td>57</td>
                        <td>B2</td>
                        <td>150 000,00&nbsp;€</td>
                        <td>22 000,00&nbsp;€</td>
                        <td colspan="2">Vous n'avez pas choisi l'option interval</td>
                    </tr>
                    <tr class="pointer">
                        <td>
                            <input id="" type="checkbox">
                        </td>
                        <td scope="row">20 900,00&nbsp;€</td>
                        <td>1</td>
                        <td>150 000,00&nbsp;€</td>
                        <td>Richemont</td>
                        <td>57</td>
                        <td>B2</td>
                        <td>150 000,00&nbsp;€</td>
                        <td>22 000,00&nbsp;€</td>
                        <td colspan="2">Vous n'avez pas choisi l'option interval</td>
                    </tr>
                    <tr class="pointer">
                        <td>
                            <input id="" type="checkbox">
                        </td>
                        <td scope="row">20 900,00&nbsp;€</td>
                        <td>1</td>
                        <td>150 000,00&nbsp;€</td>
                        <td>Rombas</td>
                        <td>57</td>
                        <td>B2</td>
                        <td>150 000,00&nbsp;€</td>
                        <td>22 000,00&nbsp;€</td>
                        <td colspan="2">Vous n'avez pas choisi l'option interval</td>
                    </tr>
                    <tr class="pointer">
                        <td>
                            <input id="" type="checkbox">
                        </td>
                        <td scope="row">20 900,00&nbsp;€</td>
                        <td>1</td>
                        <td>150 000,00&nbsp;€</td>
                        <td>Roncourt</td>
                        <td>57</td>
                        <td>B2</td>
                        <td>150 000,00&nbsp;€</td>
                        <td>22 000,00&nbsp;€</td>
                        <td colspan="2">Vous n'avez pas choisi l'option interval</td>
                    </tr>
                    <tr class="pointer">
                        <td>
                            <input id="" type="checkbox">
                        </td>
                        <td scope="row">20 900,00&nbsp;€</td>
                        <td>1</td>
                        <td>150 000,00&nbsp;€</td>
                        <td>Rosselange</td>
                        <td>57</td>
                        <td>B2</td>
                        <td>150 000,00&nbsp;€</td>
                        <td>22 000,00&nbsp;€</td>
                        <td colspan="2">Vous n'avez pas choisi l'option interval</td>
                    </tr>
                    <tr class="pointer">
                        <td>
                            <input id="" type="checkbox">
                        </td>
                        <td scope="row">20 900,00&nbsp;€</td>
                        <td>1</td>
                        <td>150 000,00&nbsp;€</td>
                        <td>Rurange-lès-Thionville</td>
                        <td>57</td>
                        <td>C</td>
                        <td>150 000,00&nbsp;€</td>
                        <td>20 000,00&nbsp;€</td>
                        <td colspan="2">Vous n'avez pas choisi l'option interval</td>
                    </tr>
                    <tr class="pointer">
                        <td>
                            <input id="" type="checkbox">
                        </td>
                        <td scope="row">20 900,00&nbsp;€</td>
                        <td>1</td>
                        <td>150 000,00&nbsp;€</td>
                        <td>Sanry-lès-Vigy</td>
                        <td>57</td>
                        <td>C</td>
                        <td>150 000,00&nbsp;€</td>
                        <td>20 000,00&nbsp;€</td>
                        <td colspan="2">Vous n'avez pas choisi l'option interval</td>
                    </tr>
                    <tr class="pointer">
                        <td>
                            <input id="" type="checkbox">
                        </td>
                        <td scope="row">20 900,00&nbsp;€</td>
                        <td>1</td>
                        <td>150 000,00&nbsp;€</td>
                        <td>Saulny</td>
                        <td>57</td>
                        <td>B2</td>
                        <td>150 000,00&nbsp;€</td>
                        <td>22 000,00&nbsp;€</td>
                        <td colspan="2">Vous n'avez pas choisi l'option interval</td>
                    </tr>
                    <tr class="pointer">
                        <td>
                            <input id="" type="checkbox">
                        </td>
                        <td scope="row">20 900,00&nbsp;€</td>
                        <td>1</td>
                        <td>150 000,00&nbsp;€</td>
                        <td>Semécourt</td>
                        <td>57</td>
                        <td>B2</td>
                        <td>150 000,00&nbsp;€</td>
                        <td>22 000,00&nbsp;€</td>
                        <td colspan="2">Vous n'avez pas choisi l'option interval</td>
                    </tr>
                    <tr class="pointer">
                        <td>
                            <input id="" type="checkbox">
                        </td>
                        <td scope="row">20 900,00&nbsp;€</td>
                        <td>1</td>
                        <td>150 000,00&nbsp;€</td>
                        <td>Talange</td>
                        <td>57</td>
                        <td>B2</td>
                        <td>150 000,00&nbsp;€</td>
                        <td>22 000,00&nbsp;€</td>
                        <td colspan="2">Vous n'avez pas choisi l'option interval</td>
                    </tr>
                    <tr class="pointer">
                        <td>
                            <input id="" type="checkbox">
                        </td>
                        <td scope="row">20 900,00&nbsp;€</td>
                        <td>1</td>
                        <td>150 000,00&nbsp;€</td>
                        <td>Trémery</td>
                        <td>57</td>
                        <td>B2</td>
                        <td>150 000,00&nbsp;€</td>
                        <td>22 000,00&nbsp;€</td>
                        <td colspan="2">Vous n'avez pas choisi l'option interval</td>
                    </tr>
                    <tr class="pointer">
                        <td>
                            <input id="" type="checkbox">
                        </td>
                        <td scope="row">20 900,00&nbsp;€</td>
                        <td>1</td>
                        <td>150 000,00&nbsp;€</td>
                        <td>Uckange</td>
                        <td>57</td>
                        <td>B2</td>
                        <td>150 000,00&nbsp;€</td>
                        <td>22 000,00&nbsp;€</td>
                        <td colspan="2">Vous n'avez pas choisi l'option interval</td>
                    </tr>
                    <tr class="pointer">
                        <td>
                            <input id="" type="checkbox">
                        </td>
                        <td scope="row">20 900,00&nbsp;€</td>
                        <td>1</td>
                        <td>150 000,00&nbsp;€</td>
                        <td>Vitry-sur-Orne</td>
                        <td>57</td>
                        <td>B2</td>
                        <td>150 000,00&nbsp;€</td>
                        <td>22 000,00&nbsp;€</td>
                        <td colspan="2">Vous n'avez pas choisi l'option interval</td>
                    </tr>
                    <tr class="pointer">
                        <td>
                            <input id="" type="checkbox">
                        </td>
                        <td scope="row">20 900,00&nbsp;€</td>
                        <td>1</td>
                        <td>150 000,00&nbsp;€</td>
                        <td>Volstroff</td>
                        <td>57</td>
                        <td>C</td>
                        <td>150 000,00&nbsp;€</td>
                        <td>20 000,00&nbsp;€</td>
                        <td colspan="2">Vous n'avez pas choisi l'option interval</td>
                    </tr>
                    <tr class="pointer">
                        <td>
                            <input id="" type="checkbox">
                        </td>
                        <td scope="row">20 900,00&nbsp;€</td>
                        <td>1</td>
                        <td>150 000,00&nbsp;€</td>
                        <td>Woippy</td>
                        <td>57</td>
                        <td>B1</td>
                        <td>150 000,00&nbsp;€</td>
                        <td>54 000,00&nbsp;€</td>
                        <td colspan="2">Vous n'avez pas choisi l'option interval</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

</body></html>